@import '@/styles/var.scss';

.btn {
  height: 4.2rem;
  border: 1px solid var(--grayLv2);
  border-radius: $borderRadius;
  box-sizing: border-box;
  padding: 0 2rem;
  color: var(--grayLv4);
  background-color: var(--background);
  transition: all 0.3s;

  svg path {
    transition: all 0.3s;
  }

  &:hover {
    color: var(--primary);
    background-color: var(--grayLv1);

    svg path {
      fill: var(--primary);
    }
  }
  // solid
  &.solid,
  &.solid:hover {
    border-color: var(--primary);
    background-color: var(--primary);
    color: var(--background);
  }

  // border
  &.borderNone {
    border: 0;
  }
}
a.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
