@import '@/styles/var.scss';

.btn {
  height: 4.2rem;
  padding: 0 2rem;
  border-radius: $borderRadius;

  box-sizing: border-box;
  border: 1px solid var(--grayLv2);

  color: var(--grayLv4);

  transition: all 0.3s;

  svg path {
    transition: all 0.3s;
  }

  // disabled
  &:disabled {
    background-color: var(--grayLv2);
    opacity: 0.4;
    border: 0;
  }

  // hover
  &:not(:disabled):hover {
    color: var(--primary);
    background-color: var(--grayLv1);

    svg path {
      fill: var(--primary);
    }
  }
}

a.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

// solid
.solid,
.solid:not(:disabled):hover {
  border-color: var(--primary);
  background-color: var(--primary);
  color: #fff;

  svg path {
    fill: #fff;
  }
}

// 테두리 없음
.borderNone {
  border: 0;
}
