@import '@/styles/theme.scss';
@import '@/styles/var.scss';

.scroll {
  height: 0.4rem;
  width: 100%;
  background-color: var(--grayLv2);

  position: sticky;
  left: 0;
  top: 0;
  z-index: 2000;

  @media screen and (min-width: 640px) {
    top: $headerHeight;
  }

  div {
    background-color: var(--primary);
    height: 100%;
    width: 100%;
    transition: transform 0.3s;
  }
}
