@import '@/styles/theme.scss';

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 32rem;
  height: 4.2rem;

  padding: 0 1.6rem;
  border-radius: 1rem;
  box-sizing: border-box;

  background-color: var(--grayLv1);
  color: var(--surface);

  transition: all 0.1s;

  input[type='search'] {
    flex-grow: 1;
    border: none;
    background: none;
    outline: none;
    height: 100%;

    &::placeholder {
      color: var(--grayLv3);
    }
  }
  &:focus-within {
    outline: 2px solid var(--primary);
  }
}
