.banner {
  margin-top: 1.2rem;
  a {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 8rem;
    padding: 0 2rem;
    border-radius: 1rem;
    background-color: var(--grayLv1);
    border: 1px solid var(--grayLv2);

    position: relative;
    h3 {
      font-size: 1.4rem;
    }
    p {
      font-size: 1.2rem;
      margin-top: 0.4rem;
    }
    img {
      width: auto;
      height: 5.6rem;
      position: absolute;
      top: 1.2rem;
      right: 2rem;
    }
  }
}
