.wrap {
  margin-top: -0.5rem;
  max-height: 40rem;

  & > ol > li:first-child {
    padding-top: 0.5rem;
  }
  & > ol > li:last-child {
    padding-bottom: 0.5rem;
  }
}
.toc {
  a {
    display: block;
    padding: 0.9rem;
    transition: background-color 0.3s;
    outline-offset: -1px;

    &.active {
      font-weight: bold;
      color: var(--primary);
      background-color: var(--activation);
    }

    @media (hover: hover) {
      &:not(.active):hover {
        background-color: var(--grayLv1);
      }
    }
  }
  & > li > a {
    padding-left: 2rem;
  }
  & > li > ol > li > a {
    padding-left: 4rem;
  }
  & > li > ol > li > ol > li > a {
    padding-left: 6rem;
  }
}
