@import '@/styles/function.scss';

.wrapper {
  width: 100%;
  display: flex;
}
.content {
  flex-grow: 1;
  margin: 0 fcSize(24, 64) 0 6.4rem;
  transition: margin-left 0.2s;

  display: flex;
  align-items: flex-start;
}
