@import '@/styles/var.scss';

.page {
  position: fixed;
  bottom: 3.2rem;
  right: 9.8rem;
  display: flex;
  gap: 0.8rem;

  .btnPrev,
  .btnNext {
    width: 5rem;
    height: 5rem;
    padding: 0;
    border-radius: 2.5rem;
    background-color: var(--background);

    .text {
      display: none;
    }

    &:not(:disabled):active {
      background-color: var(--primary);
      border-color: var(--primary);
      svg path {
        fill: #fff;
      }
    }

    @media (hover: hover) {
      &:not(:disabled):hover {
        width: auto;
        min-width: 5rem;
        padding: 0 1.2rem;
        background-color: var(--primary);
        border-color: var(--primary);
        color: #fff;
        svg path {
          fill: #fff;
        }

        .text {
          display: flex;
        }
      }
    }
  }
  .btnPrev span {
    margin-right: 1rem;
  }

  .btnNext span {
    margin-left: 1rem;
  }
}

@media screen and (max-width: map-get($breakPoint, tablet)) {
  .page {
    bottom: 1.6rem;
    right: 50%;
    transform: translateX(50%);
  }
}
