.btn {
  border: 1px solid var(--grayLv2);
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6rem;

  transition: all 0.3s;
  svg {
    transition: all 0.3s;
  }
  &:hover {
    background-color: var(--activation);
    svg {
      fill: var(--primary);
    }
  }
}

.executeBtn {
}
