.editor_container {
  font-family: var(--code), monospace;
  border: 1px solid var(--grayLv2);
  border-radius: 1rem;
  margin: 1.5rem 0;

  .result {
    padding: 1.6rem;
  }

  .result {
    .result_title {
      font-weight: 600;
      font-size: 0.9em;

      & + div {
        border-top: 1px solid var(--grayLv2);
        margin-top: 0.5em;
        padding-top: 0.5em;
      }
    }
    white-space: pre-wrap;
    line-height: 1.6;

    .string {
      color: var(--code-orange);
    }

    .green {
      color: var(--code-green);
    }
    .number,
    .boolean,
    .null,
    .undefined {
      color: var(--code-purple);
    }
  }
}
