@import '@/styles/function.scss';
// color
$background: #fff;
$primary: #2e6ff2;
$grayLv1: #f3f5fa;
$grayLv2: #d9dbe0;
$grayLv3: #8d9299;
$grayLv4: #47494d;
$activation: #dee8ff;

// size
$maxWidth: 119rem;
$padding: 2.4rem;
$bannerHeight: fcSize(240, 400);

$headerHeight: fcSize(60, 74);
$scrollBarHeight: 0.4rem;
$borderRadius: 0.625em;

$breakPoint: (
  mobile: 640px,
  tablet: 1024px,
  pc: 1190px,
);
