// html-css 코드
.htmlcss-container {
  display: flex;

  gap: 1px;
  margin: 2rem 0;

  border-radius: 1rem;
  overflow: hidden;

  border: 1px solid var(--grayLv2);
  box-sizing: border-box;
  border-radius: 1rem;
  background-color: var(--grayLv2);

  .editor-header,
  .preview-title {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 5rem;
    box-shadow: inset 0 -1px 1px var(--grayLv2);
  }
  .editor-header {
    justify-content: space-between;
    padding: 0.6rem 1rem 0 1rem;

    .editor-tab {
      display: flex;
      height: 100%;
      .tab-btn {
        width: 8rem;

        border: 1px solid transparent;
        border-width: 1px 1px 0 1px;
        border-radius: 1rem 1rem 0 0;
        &.active {
          color: var(--primary);
          background-color: var(--grayLv1);

          border-color: var(--grayLv2);
          border-bottom: 1px solid var(--grayLv1);

          font-weight: bold;
        }
      }
    }

    .copy-btn {
      width: 4rem;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -0.6rem;
    }
  }
  .preview-title {
    font-weight: bold;
    padding: 0 1rem;
  }

  .editor-wrap,
  .preview-wrap {
    background-color: var(--background);
    flex-shrink: 0;
    flex-grow: 0;
  }

  .editor-wrap {
    position: relative;
    .html-editor,
    .css-editor {
      & + div {
        z-index: 1;

        position: absolute;
        top: 5rem;
        left: 0;
        width: 100%;
        height: calc(100% - 5rem);
        overflow: scroll;
      }
      &.hide + div {
        z-index: -1;
      }
    }
  }

  .preview-wrap {
    .htmlcssPreview {
      flex-shrink: 0;
      border: 0;
      width: 100%;
      height: calc(100% - 5rem);
      background-color: #fff;
    }
  }

  //
  .CodeMirror pre.CodeMirror-line {
    color: var(--surface);

    padding: 4px 0 4px 4px;
  }
  .CodeMirror-linenumber {
    padding: 4px 0 4px 25px;
  }

  @media screen and (min-width: 641px) {
    height: 50rem;
    .editor-wrap,
    .preview-wrap {
      width: calc((100% - 1px) / 2);
    }
  }

  @media screen and (max-width: 640px) {
    flex-direction: column;
    .editor-wrap,
    .preview-wrap {
      height: 40rem;
    }
  }
}
