@import '@/styles/function.scss';

.main {
  flex-grow: 1;

  margin: fcSize(40, 80) auto;

  max-width: calc(100% - 4rem);
  overflow-x: scroll;

  display: flex;
  flex-direction: column;
  gap: 4rem;

  h2 {
    margin-bottom: 0.5em;
  }
}
