.header {
  width: 100%;
  height: 7.4rem;
  display: flex;
  align-items: center;
  border-bottom: 4px solid var(--grayLv2);
  box-sizing: border-box;
  justify-content: center;
  z-index: 100;
  background-color: var(--background);

  position: sticky;
  top: 0;

  .h1 {
    margin-left: 2rem;
  }
  .right {
    margin-right: 2rem;
  }
}

.h1 {
  img {
    height: 3.4rem;
  }
}

.default {
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 0;

  .right {
    display: flex;
    gap: 1.6rem;
  }
}

@media screen and (max-width: 640px) {
  .header {
    height: 6rem;
    .h1 {
      margin-left: 0.8rem;
    }
    .right {
      margin-right: 0.8rem;
      gap: 0.8rem;
    }
  }
}
