@import '@/styles/var.scss';

.side {
  width: 32rem;
  height: calc(100vh - $headerHeight);
  position: sticky;
  top: $headerHeight;
  background-color: var(--background);
  border-right: 1px solid var(--grayLv2);

  display: flex;
  align-items: flex-start;
  flex-direction: column;

  nav {
    flex-grow: 1;
    padding-bottom: 1rem;
  }

  & + div {
    margin-left: 2rem;
  }
}
@media screen and (max-width: map-get($breakPoint, tablet)) {
  .side {
    position: fixed;
    z-index: 200;

    & + div {
      z-index: 10;
    }
  }
}

.btnClose {
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  border: none;
}

.btnOpen {
  margin: 0.4rem 1rem;
  border: none;
  position: absolute;
  transition: all 0.2s;
}

.show {
  animation: slideIn 0.3s both;
}

.hide {
  animation: slideOut 0.3s both;
}

.dimShow {
  animation: fadeIn 0.2s both;
}
.dimHide {
  animation: fadeOut 0.2s both;
}

.default {
  margin-left: 0;
}
@keyframes slideIn {
  from {
    margin-left: -32rem;
  }
  to {
    margin-left: 0;
  }
}

@keyframes slideOut {
  from {
    margin-left: 0;
  }
  to {
    margin-left: -32rem;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
