.editor {
  display: flex;
  flex-direction: column;
  width: 61.875rem;
  height: auto;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #d9dbe0;
  border-radius: 8px;
  margin: 0 auto// 삭제요망;
}

.taskbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d9dbe0;
  padding: 10px 14px;

  div {
    display: flex;
    gap: 10px;
  }

  * {
    cursor: pointer;
  }
}

.resultbar {
  border-top: 1px solid #d9dbe0;
  padding: 20px;
  white-space: pre;
  font-size: 16px;
  line-height: 22px;
}
