@import '@/styles/function.scss';
@import '@/styles/theme.scss';

.btnWrap {
  display: flex;
  gap: 0.8rem;
  margin: 10rem 0;

  .btnPrev,
  .btnNext {
    width: 4.2rem;
    height: 4.2rem;
    padding: 0;
    border: none;
    border-radius: 1rem;
    background-color: var(--grayLv1);
    svg path {
      fill: var(--grayLv3);
    }
    &:disabled {
      opacity: 1;
      svg path {
        fill: var(--grayLv2);
      }
    }

    @media (hover: hover) {
      &:not(:disabled):hover {
        background-color: var(--activation);

        svg path {
          fill: var(--primary);
        }
      }
    }
  }

  .pageNav {
    display: flex;
  }

  .pageNav {
    display: flex;
    align-items: center;
    justify-content: center;

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4.2rem;
      height: 4.2rem;
      color: var(--grayLv3);
      cursor: pointer;
      box-sizing: border-box;
      @media (hover: hover) {
        &:not(:disabled):hover {
          text-decoration: underline;
        }
      }
    }

    input:checked + label {
      color: var(--primary);
      font-weight: bold;
    }

    .ellipsis {
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        display: flex;
        justify-content: center;
        width: 4.2rem;
        font-size: 1.6rem;
        color: var(--grayLv3);
      }
    }
  }
}
