@import '@/styles/var.scss';

.button {
  height: 4.2rem;
  padding: 0 2rem;
  border: 1px solid $grayLv2;
  border-radius: $borderRadius;

  background: none;
  color: $grayLv3;
  font-size: 1.4rem;

  &.solid {
    border-color: $primary;
    background-color: $primary;
    color: #fff;
  }
  &.icon {
    padding: 0.6rem;
    height: auto;
  }

  &.borderNone {
    border: none !important;
  }
}
a.button {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}
