@import '@/styles/var.scss';

.bookIndex {
  width: fcSize(280, 320);
  h2 {
    font-size: 1.8rem;
  }
  a {
    padding: 0.8rem;
    min-height: 4rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    outline-offset: -1px;
  }
}
