.editor_container {
  border: 1px solid var(--grayLv2);
  border-radius: 1rem;
  margin: 1.5rem 0;

  .top,
  .result {
    padding: 1.6rem;
  }
  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .result {
    white-space: pre-wrap;
    line-height: 1.6;
  }
}
.number {
  color: var(--code-blue);
}
.string {
  color: var(--code-orange);
}
.boolean {
  color: var(--code-purple);
}
.null {
  color: var(--code-purple);
}
