@import '@/styles/var.scss';

.subLayout {
  display: flex;
  align-items: flex-start;
  width: 100%;

  .left {
    flex-shrink: 0;
    position: sticky;
    top: calc($headerHeight + $scrollBarHeight);
    left: 0;
    z-index: 1;
  }
  .contents {
    width: 100px;
    flex-grow: 1;
    flex-shrink: 1;

    main {
      margin: 0 auto;
      max-width: max(80%, 99rem);
      padding: fcSize(40, 40) fcSize(20, 40);
      box-sizing: border-box;
    }
  }
  .right {
    flex-shrink: 0;

    position: sticky;
    top: calc($headerHeight + $scrollBarHeight + 4rem);
    left: 0;
  }
}
