@import '@/styles/var.scss';

.subLayout {
  display: flex;
  align-items: flex-start;
  width: 100%;

  .left {
    flex-shrink: 0;
    position: sticky;
    top: calc($headerHeight + $scrollBarHeight);
    left: 0;
    z-index: 1;
  }

  .right {
    flex-grow: 1;
    .contents {
      display: flex;
      align-items: flex-start;
      width: 100%;
      main {
        flex-grow: 1;
        width: 100px;
        padding: fcSize(40, 40) fcSize(20, 40);

        max-width: calc(99rem + fcSize(200, 280));

        margin: 0 auto;
      }
      main > div {
        box-sizing: border-box;
      }

      aside {
        flex-shrink: 0;
        position: sticky;
        top: calc($headerHeight + $scrollBarHeight + 4rem);
        left: 0;
      }
    }
  }
}
