@import '@/styles/theme.scss';
.title {
  font-size: 1.4rem;
  height: 5rem;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  margin-bottom: 1rem;
  flex-shrink: 0;
  width: 100%;
  box-sizing: border-box;
}

.nav {
  overflow: auto;
  width: 100%;
}
.menu {
  .active {
    background-color: var(--grayLv1);
    color: var(--primary);
    font-weight: bold;
  }
  a {
    padding: 0.8rem;
    height: 4rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }

  // 1depth
  // & > li > div > a,
  & > li {
    margin: 3px;
  }
  & > li > a {
    padding-left: 4rem;
  }
  // 2depth
  & > li > ol > li > div {
    padding-left: 2rem;
  }
  & > li > ol > li > a {
    padding-left: 6rem;
  }
  // 3depth
  & > li > ol > li > ol > li > a {
    padding-left: 8rem;
  }
}

.fold {
  & > div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    a {
      flex-grow: 1;
    }
  }
}
.fold,
.notFold {
  transition: background-color 0.3s;
}
.fold div:hover,
.notFold:hover {
  background-color: var(--activation);
  button {
    background-color: var(--background);
  }
}

.chapterBtn {
  width: 2rem;
  height: 2rem;
  border-radius: 0.4rem;

  margin-left: 1.2rem;

  svg {
    vertical-align: middle;
    transition: all 0.3s;
  }

  &.close svg {
    rotate: -90deg;
  }
}

.hide {
  display: none;
}
